.nav{
    grid-area: n;
    background-color: powderblue;
    grid-template-rows: 1fr 1fr;
    padding: 30px;
    padding-top: 15px;
}

.style a{
    color: black;
}


.style a.active{
    color: darkblue;
}