.dialogs{
    display: grid;
    grid-template-columns: 3fr 10fr;
    grid-tamplate-rows: 3fr 10fr;
}

.dialogs{
    color: blueviolet;
    padding: 10px;
}

.dialog{
    color: black;
    padding:10px
}

.message{
    color: black;
    padding: 20px;
}